.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  }
img {
  width: 1200px;
}
.title-1 {
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: #222;
  margin-top: -160px;
  margin-left: 300px;  
}
.title-2 {
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  color: #222;
  margin-top: -120px;
  margin-left: 300px;  
}
.content {
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 200px 0px 200px;
  font-size: 19px;
  color: #222;
  line-height: 30px;  
}
ul {
  list-style-type: square;
}
blockquote {
  background-color: #444;
  padding: 30px 20px 40px 20px;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
  line-height: 70px;
}
blockquote::before {  
  content: '”';
  font-size: 100px;
}
p {
  font-size: 16px;
  line-height: 20px;
}
h4 {
  margin-top: 0px;  
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 0px;
}
h3 {
  margin-bottom: 4px;
}
.list-1 {
  font-size: 15px;
}
hr {
  border: 2px solid black;
  margin: 40px 0px 40px 0px;
}
/*font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;*/